#platforms {
  clear: both;
  margin: 3.6em 0 -1.6em 0;
  padding: 0;
  list-style: none;
  text-align: center;

  @media (min-width: 900px) and (max-width: 1199px) {
    margin-bottom: -0.9em;
    font-size: 92%;
  }

  @media (max-width: 899px) {
    margin-bottom: -0.4em;
    font-size: 86%;
  }

  li {
    display: inline-block;
    margin: 0 0.625em;

    a {
      color: $text-color;
      opacity: 0.85;

      &:hover {
        opacity: 1;
      }
    }
  }
}