@import 'normalize';

$primary-color: #506775 !default;
$text-color: #444444;
$link-color: saturate(lighten($primary-color, 0), 40) !default;
$link-hover-color: darken($link-color, 20) !default;
$link-active-color: saturate($link-color, 10) !default;

$nav-border: 1px solid rgba(255, 255, 255, 0.1);


body {
  background: #F6F6F6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

#content {
  opacity: 0.96;

  @media (min-width: 900px) and (max-width: 1199px) {
    display: block;
    width: 900px;
    margin: 0 auto;
  }

  @media (min-width: 1200px) {
    display: flex;
    min-height: 100vh;
    justify-content: center;
  }
}

#sidebar {
  background: $primary-color;

  @media (min-width: 1200px) {
    flex: 0 0 300px;
  }

  h1 {
    display: block;
    text-align: center;
    margin: 0;

    padding: 30px 0;

    img {
      width: 200px;
    }

    @media (min-width: 900px) and (max-width: 1200px) {
      padding: 20px 0;

      img {
        width: 150px;
      }
    }

    @media (max-width: 899px) {
      padding: 10px 0;

      img {
        width: 100px;
      }
    }
  }

  em.date {
    color: rgba(255, 255, 255, 0.3);
    font-style: normal;
    font-family: 'Roboto Condensed', Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    display: block;
    text-align: center;
    margin-top: -22px;
    margin-bottom: 28px;

    @media (max-width: 1200px) {
      display: none;
    }
  }

  nav {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: block;
        border-bottom: $nav-border;

        &:first-child {
          border-top: $nav-border;

          @media (max-width: 1199px) {
            border-top: none;
          }
        }

        a {
          line-height: 40px;
          padding: 10px 25px 10px 30px;
          font-size: 12px;
          text-transform: uppercase;
          text-decoration: none;

          color: white;

          &:hover, &:focus, &.current {
            color: rgba(255, 255, 255, 0.5);
          }

          .icon {
            line-height: 40px;
            margin-right: 8px;
            text-align: center;
            width: 16px;

            /* remove highlighting in mobile browsers when tapping on the link */
            -webkit-tap-highlight-color: transparent !important;
          }

          &:active {
            .icon {
              background: transparent;
            }
          }
        }
      }

      @media (max-width: 1199px) {
        display: none;
      }

      @media (min-width: 1200px) {
        display: block !important;
      }
    }

    .toggle {
      text-align: right;
      margin-top: -50px;
      border-bottom: $nav-border;

      @media (min-width: 1200px) {
        display: none;
      }

      button {
        color: white;
        outline: none;
        background: transparent;
        box-shadow: none;
        width: 60px;
        height: 50px;
        font-size: 20px;
        line-height: 1;
        cursor: pointer;
        border: none;

        .icon {
          font-size: 20px;
        }
      }
    }
  }

  .tweets {
    margin: 60px auto 0 auto;
    width: 250px;
    text-align: center;

    @media (max-width: 1199px) {
      display: none; /* there is no space for the twitter feed in the layout for mobile devices */
    }

    a.twitter-link {
      color: white;
      font-size: 15px;
      font-weight: bold;
      text-decoration: none;

      &:hover, &:focus, &.current {
        color: rgba(255, 255, 255, 0.675);
      }

      i {
        margin-left: 8px;
      }
    }

    a.twitter-follow-button, a.twitter-timeline {
      display: none; /* placeholder element, is replaced by an iframe by twitter */
    }

    iframe.twitter-follow-button-rendered {
      display: inline-block;
      position: relative !important;
      top: 5px;
      margin: 0 0 0 12px;
    }

    iframe.twitter-timeline-rendered {
      display: block;
      margin: 16px auto !important;
      opacity: 0.85;

      &:hover {
        opacity: 1;
      }
    }
  }
}

main {
  background: white;
  color: $text-color;
  line-height: 1.625;
  border-top: 1px solid #F9F9F9;

  @media (min-width: 1200px) {
    flex: 0 0 900px;
  }

  #page {
    padding: 60px 90px 80px 90px;

    @media (min-width: 900px) and (max-width: 1199px) {
      padding: 50px 60px 65px 60px;
    }

    @media (max-width: 899px) {
      padding: 35px 30px 45px 30px;
    }

    @import 'page';
  }
}
