@import 'normalize';
@import 'dashicons';

$primary-color: #506775 !default;
$text-color: #444444;
$link-color: saturate(lighten($primary-color, 7), 40) !default;
$link-hover-color: darken($link-color, 20) !default;
$link-active-color: saturate($link-color, 10) !default;

$nav-border: 1px solid rgba(255, 255, 255, 0.1);


body {
  background: #F6F6F6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

#content {
  opacity: 0.96;

  @media (min-width: 900px) and (max-width: 1199px) {
    display: block;
    width: 900px;
    margin: 0 auto;
  }

  @media (min-width: 1200px) {
    display: flex;
    min-height: 100vh;
    justify-content: center;
  }
}

#sidebar {
  background: $primary-color;

  @media (min-width: 1200px) {
    flex: 0 0 300px;
  }

  h1 {
    display: block;
    text-align: center;
    margin: 0;

    padding: 30px 0;

    img {
      width: 200px;
    }

    @media (min-width: 900px) and (max-width: 1200px) {
      padding: 20px 0;

      img {
        width: 150px;
      }
    }

    @media (max-width: 899px) {
      padding: 10px 0;

      img {
        width: 100px;
      }
    }
  }

  nav {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: block;
        border-bottom: $nav-border;

        &:first-child {
          border-top: $nav-border;

          @media (max-width: 1199px) {
            border-top: none;
          }
        }

        a {
          line-height: 40px;
          padding: 10px 25px;
          font-size: 12px;
          text-transform: uppercase;
          text-decoration: none;

          color: white;

          &:hover, &:focus, .current {
            color: rgba(255, 255, 255, 0.5);
          }

          .dashicons {
            line-height: 40px;
            font-size: 1.2em;
            margin-top: -0.05em;
            margin-right: 0.25em;

            /* remove highlighting in mobile browsers when tapping on the link */
            -webkit-tap-highlight-color: rgba(0,0,0,0);
            -webkit-tap-highlight-color: transparent;
          }

          &:active {
            .dashicons {
              background: transparent;
            }
          }
        }
      }

      @media (max-width: 1199px) {
        display: none;
      }

      @media (min-width: 1200px) {
        display: block !important;
      }
    }

    .toggle {
      text-align: right;

      border-top: $nav-border;
      border-bottom: $nav-border;

      @media (min-width: 1200px) {
        display: none;
      }

      button {
        color: white;
        outline: none;
        background: transparent;
        box-shadow: none;
        width: 40px;
        height: 40px;
        font-size: 16px;
        cursor: pointer;
        border-top: none;
        border-bottom: none;
        border-left: $nav-border;
        border-right: none;
      }
    }
  }
}

main {
  background: white;
  color: $text-color;

  @media (min-width: 1200px) {
    flex: 0 0 900px;
  }

  #page {
    padding: 80px 90px;

    h1 {
      font-family: 'Lato', 'Trebuchet MS', sans-serif;
      font-size: 46px;
      text-align: center;
      margin-top: 0;
      margin-bottom: 42px;
    }

    p {
      margin: 0 0 13px 0;
    }

    a {
      color: $link-color;
      text-decoration: none;

      &:hover, &:focus {
        color: $link-hover-color;
      }

      &:active {
        color: $link-active-color;
      }
    }
  }
}
