@import 'normalize';

$primary-color: #506775 !default;
$text-color: white;


body {
  background: $primary-color;
  color: $text-color;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

#content {
  padding: 10vh 20px 60px 20px;
  text-align: center;
  line-height: 1.575;

  p {
    margin: 0 0 13px 0;

    &.logo {
      margin-bottom: 6vh;

      img {
        width: 200px;

        @media (max-width: 999px) {
          width: 175px;
        }

        @media (max-width: 699px) {
          width: 150px;
        }
      }
    }
  }

  a {
    color: $text-color;
    text-decoration: underline;
  }

  h1 {
    font-family: 'Lato', 'Trebuchet MS', sans-serif;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0 0;
    line-height: 1.2;

    @media (max-width: 999px) {
      font-size: 22px;
      margin-top: 8px;
    }

    @media (max-width: 699px) {
      font-size: 19px;
      margin-top: 6px;
    }
  }

  h2, h3 {
    font-family: 'Lato', 'Trebuchet MS', sans-serif;
    font-weight: normal;
    font-size: 22px;
    text-align: center;
    margin: 0;
    line-height: 1.2;

    @media (max-width: 999px) {
      font-size: 19px;
    }

    @media (max-width: 699px) {
      font-size: 16px;
    }

    sup {
      font-size: 0.6em;
      top: -0.55em;
      padding-left: 1px;
    }
  }

  h3 {
    margin-top: 20px;

    @media (max-width: 999px) {
      margin-top: 18px;
    }

    @media (max-width: 699px) {
      margin-top: 16px;
    }
  }

  @import 'footer';
}