{% macro paper(title, authors, abstract=none, paper=none, openreview=none, video=none, code=none, id=none, teaser=none, pdf=none) -%}
* <span class="title">
    {% if id %}{{ id }} - {% endif -%}{% if paper %}<a href="{{ paper }}">{{ title }}</a>{% else %}{{ title }}{% endif %}
  </span>
  <span class="authors"> {{ authors }}</span>
  <ul class="links">
    {% if abstract %}<li><a class="toggle_visibility" data-selector=".abstract" data-level="3">abstract</a></li>{% endif -%}
    {% if pdf %}<li><a href="{{ pdf }}">paper</a></li>{% endif -%}
    {% if openreview %}<li><a href="{{ openreview }}">reviews</a></li>{% endif -%}
    {% if code %}<li><a href="{{ code }}">code</a></li>{% endif -%}
    {% if video %}<li><a href="{{ video }}">video</a></li>{% endif -%}
    {% if teaser %}<li><a href="{{ teaser }}">teaser</a></li>{% endif -%}
  </ul>
  {%- if abstract -%}
  <span class="abstract">
    {{ abstract }}
    <span class="actions"><a class="toggle_visibility" data-level="2">Hide abstract</a></span>
  </span>
  {%- endif -%}
{%- endmacro %}

{% macro youtube(id, width=720, height=405) -%}
<div class="youtube">
  <iframe width="{{ width }}"
          height="{{ height }}"
          src="https://www.youtube-nocookie.com/embed/{{ id }}"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
</div>
{%- endmacro %}

{% macro presentation(youtube_id, pdf_url, width=720, height=405) -%}
  {{ youtube(youtube_id) }}
  <p>
    <object data="{{ pdf_url }}"
            width="{{ width }}"
            height="{{ height }}" class="embedded-pdf">
      Can't display slides, your browser doesn't support embedding PDFs. You can still download the slides:
    </object>
  </p>
  <p class="centered"><a href="{{ pdf_url }}">Download slides</a></p>
{%- endmacro %}

{% macro map(url, width=720, height=500) -%}
<div class="google-maps">
    <iframe src="{{ url }}"
            width="{{ width }}"
            height="{{ height }}"
            frameborder="0"
            allowfullscreen></iframe>
</div>
{%- endmacro %}

{% macro button(caption, url) -%}
<p class="button">
  <a href="{{ url }}">{{ caption|e }}</a>
</p>
{%- endmacro %}

{% macro opengraphtag(name, default_content=none, prefix=none) -%}
  {%- if opengraph is defined and opengraph[name] is defined -%}
    {%- set content = opengraph[name] -%}
  {% elif config.opengraph is defined and config.opengraph[name] is defined -%}
    {%- set content = config.opengraph[name] -%}
  {%- else -%}
    {%- set content = default_content -%}
  {%- endif -%}

  {%- if content -%}
  <meta property="og:{{ name|e }}" content="{% if prefix %}{{ prefix|e }}{% endif %}{{ content|e }}">
  {%- endif -%}
{%- endmacro -%}


{% macro teaser(id) -%}
  {% if id %} - <a href="https://youtu.be/{{ id }}">Teaser</a>{% endif %}
{%- endmacro %}