{% macro paper(title, authors, abstract, openreview=none, paper=none, video=none, code=none) -%}
* {% if openreview %}<a href="{{ openreview }}">{{ title }}</a>{% else %}{{ title }}{% endif %}
  <span class="authors"> {{ authors }}</span>
  <a class="toggle_visibility" data-selector=".abstract">abstract</a>
  {% if paper %} • <a href="{{ paper }}">paper</a>{% endif -%}
  {% if code %} • <a href="{{ code }}">code</a>{% endif -%}
  {% if video %} • <a href="{{ video }}">video</a>{% endif -%}
  <span class="abstract">
    {{ abstract }}
    <span class="actions"><a class="toggle_visibility" data-level="2">Hide abstract</a></span>
  </span>
{%- endmacro %}

{% macro youtube(id, width=720, height=405) -%}
<div class="youtube">
  <iframe width="{{ width }}"
          height="{{ height }}"
          src="https://www.youtube-nocookie.com/embed/{{ id }}"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
</div>
{%- endmacro %}