{% extends "_skeleton.html" %}

{% block head %}
<link rel="stylesheet" href="{{ stylesheets.default.path }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato|Roboto|Roboto+Slab|Roboto+Condensed">

<script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
<script>
    jQuery(function($) {
        var $nav = $('#sidebar nav ul');
        $('#sidebar nav .toggle button').click(function() {
            $nav.slideToggle('fast');
        });
    });
</script>
{% endblock %}

{% block body %}
<div id="content">
    <div id="sidebar">
        <h1>
            <a href="/" alt="{{ config.title|e }}">
                <img src="/assets/logos/logo_white.svg" alt="{{ config.title|e }}">
            </a>
        </h1>
        {% if config.date is defined and config.date|length %}
            <em class="date">{{ config.date|e }}</em>
        {% endif %}
        <nav>
            <div class="toggle">
                <button aria-label="Open/close navigation"><span class="dashicons dashicons-menu"></span></button>
            </div>
            <ul>
                {% for page in config.nav %}
                <li>
                    <a href="{{ page.path }}"{% if page.path == permalink %} class="current"{% endif %}>
                        <span class="dashicons dashicons-{{ page.icon }}" aria-hidden="True"></span>
                        {{ page.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </nav>

        {% if config.twitter is defined and config.twitter|length %}
            <div class="tweets">
                <a data-lang="en"
                   data-width="250"
                   data-dnt="true"
                   data-theme="dark"
                   data-link-color="#FFFFFF"
                   data-tweet-limit="1"
                   data-chrome="noheader nofooter noborders transparent"
                   href="https://twitter.com/{{ config.twitter }}?ref_src=twsrc%5Etfw"
                   class="twitter-timeline">Tweets by {{ config.twitter }}</a>
            </div>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        {% endif %}
    </div>
    <main>
        <div id="page"{% if page_class is defined %} class="{{ page_class }}"{% endif %}>
            {{ content }}
        </div>
    </main>
</div>
{% endblock %}