{% extends "_skeleton.html" %}

{% block head %}
<link rel="stylesheet" href="{{ stylesheets.default.path }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato|Roboto|Roboto+Slab">

<script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
<script>
    jQuery(function($) {
        var $nav = $('#sidebar nav ul');
        $('#sidebar nav .toggle button').click(function() {
            $nav.slideToggle('fast');
        });
    });
</script>
{% endblock %}

{% block body %}
<div id="content">
    <div id="sidebar">
        <h1>
            <a href="/" alt="{{ config.title }}">
                <img src="/assets/logos/logo_white.svg" alt="{{ config.title }}">
            </a>
        </h1>
        <nav>
            <div class="toggle">
                <button aria-label="Open/close navigation"><span class="dashicons dashicons-menu"></span></button>
            </div>
            <ul>
                {% for page in config.nav %}
                <li>
                    <a href="{{ page.path }}"{% if page.path == permalink %} class="current"{% endif %}>
                        <span class="dashicons dashicons-{{ page.icon }}" aria-hidden="True"></span>
                        {{ page.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
    <main>
        <div id="page">
            {{ content }}
        </div>
    </main>
</div>
{% endblock %}