{% extends "_skeleton.html" %}

{% block head %}
<link rel="stylesheet" href="{{ stylesheets.placeholder.path }}">
{% if config.show_platform_icons or load_icons is defined %}
    <link rel="stylesheet" href="{{ config.cdn|default('') + stylesheets.fontawesome.path }}">
{% endif %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Lato">
{% endblock %}

{% block body %}
<div id="content">
    <p class="logo">
        <img src="/assets/logos/logo_white.svg" alt="{{ config.title|e }}">
    </p>
    {{ content }}

    {% block footer %}
        {% include "_footer.html" %}
    {% endblock %}
</div>
{% endblock %}